.WeatherForecastWeekly {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.WeatherForecast__temperature_min {
  padding-left: 3px;
  font-weight: 500;
  color: var(--color-secondary-pink);
  opacity: 0.6;
}
